@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 150) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });

        //回上一頁
        $('a#goBack').click(function(){
            history.back();
            return false;
        });
    </script>
}

<aside id="sidebar">
    <h2 class="sr-only">子選單</h2>
    <ul class="submenu">
        <li><a href="#" id="goBack">回前頁</a></li>
    </ul>
</aside><!-- sidebar //-->

<div class="wrap">

    <h1 class="h1">@ViewBag.Title</h1>

    <section id="content">

        <h2 class="sr-only">News</h2>

        <article class="article">
            <h3 class="h2">
                <small>2015/10/1</small>
                <a href="~/News/Content">10月新會員首購禮！購物滿500送200</a>
            </h3>
            <div class="editor">
                <p>廚具家電、美食精選、居家百貨、親子/外出運動、女裝鞋包、美妝保養、名牌飾品、潮流男裝、特殺電器街等等，等您來選購！廚具家電、美食精選、居家百貨、親子/外出運動、女裝鞋包、美妝保養、名牌飾品、潮流男裝、特殺電器街等等，等您來選購！廚具家電、美食精選、居家百貨、親子/外出運動、女裝鞋包、美妝保養、名牌飾品、潮流男裝、特殺電器街等等，等您來選購！廚具家電、美食精選、居家百貨、親子/外出運動、女裝鞋包、美妝保養、名牌飾品、潮流男裝、特殺電器街等等，等您來選購！等您來選購！等您來</p>
                
            </div>
        </article>
        
    </section><!-- content //-->

</div>