@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrap">

    <h1 class="h1">@ViewBag.Title</h1>

    <section id="content">

        <h2 class="sr-only">News</h2>

        <article class="article-list">
            <i class="thumb">
                <img src="~/Content/images/Index/banner1.jpg" alt="">
            </i>
            <h3 class="h2">
                <small>2015/10/1</small>
                <a href="~/News/Content">10月新會員首購禮！購物滿500送200</a>
            </h3>
            <p>廚具家電、美食精選、居家百貨、親子/外出運動、女裝鞋包、美妝保養、名牌飾品、潮流男裝、特殺電器街等等，等您來選購！廚具家電、美食精選、居家百貨、親子/外出運動、女裝鞋包、美妝保養、名牌飾品、潮流男裝、特殺電器街等等，等您來選購！廚具家電、美食精選、居家百貨、親子/外出運動、女裝鞋包、美妝保養、名牌飾品、潮流男裝、特殺電器街等等，等您來選購！廚具家電、美食精選、居家百貨、親子/外出運動、女裝鞋包、美妝保養、名牌飾品、潮流男裝、特殺電器街等等，等您來選購！等您來選購！等您來</p>@* 最多235字 *@
            <a href="~/News/Content" class="btn btn-secondary">READ MORE</a>
        </article>

        <article class="article-list">
            <i class="thumb">
                <img src="~/Content/images/Index/banner1.jpg" alt="">
            </i>
            <h3 class="h2">
                <small>2015/10/1</small>
                <a href="~/News/Content">10月新會員首購禮！購物滿500送200購物滿500送200</a>
            </h3>
            <p>廚具家電、美食精選、居家百貨、親子/外出運動、女裝鞋包、美妝保養、名牌飾品、潮流男裝、特殺電器街等等，等您來選購！</p>
            <a href="~/News/Content" class="btn btn-secondary">READ MORE</a>
        </article>

        <article class="article-list">
            <i class="thumb">
                <img src="~/Content/images/Index/banner1.jpg" alt="">
            </i>
            <h3 class="h2">
                <small>2015/10/1</small>
                <a href="~/News/Content">10月新會員首購禮！購物滿500送200購物滿500送200</a>
            </h3>
            <p>廚具家電、美食精選、居家百貨、親子/外出運動、女裝鞋包、美妝保養、名牌飾品、潮流男裝、特殺電器街等等，等您來選購！</p>
            <a href="~/News/Content" class="btn btn-secondary">READ MORE</a>
        </article>
        
    </section><!-- content //-->

</div>