@charset "UTF-8";


// var
// ------------------------------------------------------------
$img-path2:             '../images/Index';
$banner-height:         560px;
$content-spacing:       0;
$footer-height:         160px;
$content-spacing-xs:    $content-spacing;


// import
// ------------------------------------------------------------

// Core variables and mixins
@import "helper/variables";
@import "_web/var";

@import "helper/mixins";
@import "helper/function";

// Reset and dependencies
@import "base/normalize";
@import "base/print";
@import "base/reboot";

// Elements
@import "element/type";

// Layout
@import "layout/grid";

// Module
@import "module/animation";
@import "module/nav";
@import "module/navbar";

// Utility classes
@import "helper/utilities-extends";
@import "helper/extend";
@import "helper/classes";
@import "helper/utilities-responsive";

@import "_web/layout";


// footer
// ----------------------------------------------------------------------
#footer {
	padding-top: 20px;

	&::before {display: none;}

	.copyright {margin-top: 45px;}

	@include media-breakpoint-down(sm) {
		.copyright {margin-top: 25px;}
	}
}


// main
// ----------------------------------------------------------------------
#banner {
	height: auto;
	background: #2E2A27;

	> ul {
		> li {
			&::before {
				@extend .container;
				content:" ";
				display: block;
				width: 100%;
				height: 83px;
				background: url(#{$img-path2}/watermark.png) no-repeat $grid-gutter-width 17px;

				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
				z-index: $zindex-popover;
			}
			img {
				position: static;
				width: 100%;
				max-width: 1920px;
				height: auto;
				margin-left: 0;
			}
		}
	}
}

#main {
	background:
		url(#{$img-path}/bgDot.png),
		#1a1a1a url(#{$img-path}/bgFooter.jpg) repeat-y center top;
}

.grid-series {
	background: #757C7F url(#{$img-path}/bg4.jpg) no-repeat center top;
	text-align: center;

	padding: 55px 0 30px 0;

	.h2 {
		font-size: em(75px);
		font-family: $font-family-en;
		color: #fff;

		position: relative;
		margin-bottom: 0;

		&::before {
			content: attr(title);
			color: hsla(0, 0%, 40%, 0.5);
			position: absolute;
			transform: translate(-2px, -2px);
		}
	}

	.h3 {font-size: $font-size-h5;}

	#marquee {
		position: relative;
        margin: 50px auto;
        padding:0 60px;

        li {
        	padding-bottom: $spacer*2.5;

        	a {
        		display: block;
        		height: 155px;
        		line-height: 155px;

        		margin: 0 30px;
        	}
            img {
            	max-width: 100%;
            	max-height: 100%;
            }
        }

		.h4 {
			@extend %text-truncate;
			width: 100%;
			height: 1em;
			font-size: em(19px);
			text-align: center;
			text-shadow: 1px 1px 0 #ddd;

			position: absolute;
			left: 0;
			bottom: 0;
		}

		.prev, .next {
			width: 28px;
			height: 46px;
			background: url(#{$img-path}/arrows.png) no-repeat;

			top:30%;
			margin-top: -23px;

			opacity: 0.5;
			transition: opacity 0.3s;

			&:hover {opacity: 1;}
		}

		.prev {left: 0;}

		.next {
			right: 0;
			background-position: right top;
		}
	}

	@include media-breakpoint-down(sm) {
		padding-top: 40px;

		.h2 {
			font-size: 3em;

			&::before {transform: translate(-1.5px, -1.5px);}
		}

		.h3 {
			font-size: 1em;
			line-height: 1.5;
		}

		#marquee {
			margin: 20px auto;
			padding:0;

			li {
	        	padding-bottom: 0;

	        	a {
	        		height: 70px;
	        		line-height: 70px;
	        		margin: 0 $spacer/2;
	        	}
	        }

	        .h4 {display: none;}

			.prev, .next {display: none;}
		}
	}
}

.grid-news {
	position: relative;
	padding: 65px 0;

	&::before {
        content:" ";
        display: block;
        width: 100%;
        height: 197px;
        background:
            url(#{$img-path}/bgLine.png) no-repeat center top,
            url(#{$img-path}/bgLine2.png) repeat-x center top;

        position: absolute;
        left: 0;
        top: -113px;
    }

    .article-list {
    	@extend .col-md-8;
    	@extend .col-xs-12;
    	padding-left: 0;
    	padding-right: $grid-gutter-width;

    	color: #E1E3DF;

    	.h2 {
	    	color: #E6E6E6;
	    	font-size: em(75px);
	    	font-family: $font-family-en;
	    }

	    .h3 {
	    	font-weight: bold;
	    	font-size: $font-size-h4;

	    	small {
	    		display: block;
	    		color: #999;
	    		font-size: $font-size-sm;
	    		font-weight: normal;

	    		margin-bottom: $spacer*0.6;
	    	}
	    }

	    .article {
	    	margin-bottom: $spacer*1.5;
	    }
    }

    .fb {
    	@extend .col-md-4;
    	@extend .col-xs-12;
    	padding-right: 0;
    	padding-left: $grid-gutter-width;
    }

    @include media-breakpoint-down(sm) {
    	padding: 40px 0;

    	.article-list, .fb {padding:0 $grid-gutter-width/2;}
    }
}

.grid-count {
	.h2 {
		font-size: 1em;
		color: #BBBCB9;
		text-align: center;

		position: relative;

		span {

			&::before, &::after {
				content:" ";
				width: 30%;
				height: 1px;
				border-top: 1px solid; 

				position: absolute;
				top: 12px;
			}
			&::before {left: 0;}
			&::after {right: 0;}

			strong {
				color: $brand-primary;
				font-size: em(21px);
				letter-spacing: 0.1em;

				margin: 0 $spacer*0.7;
			}
		}
	}

	@include media-breakpoint-down(sm) {

		.h2 {
			span {
				font-size: $font-size-sm;
				&::before, &::after {display: none;}
				
				strong {
					font-size: 1em;
					letter-spacing: 0.05em;
					margin: 0;
				}
			}
		}
	}
}