@charset "UTF-8";


// var
// ------------------------------------------------------------
$img-path2:             '../images/Index';
$content-spacing:       0;
$footer-height:         160px;
$content-spacing-xs:    $content-spacing;


// import
// ------------------------------------------------------------

// Core variables and mixins
@import "helper/variables";
@import "_web/var";

@import "helper/mixins";
@import "helper/function";

// Reset and dependencies
@import "base/normalize";
@import "base/print";
@import "base/reboot";

// Elements
@import "element/type";

// Layout
@import "layout/grid";

// Module
@import "module/animation";
@import "module/nav";
@import "module/navbar";

// Utility classes
@import "helper/utilities-extends";
@import "helper/extend";
@import "helper/classes";
@import "helper/utilities-responsive";

@import "_web/layout";


// footer
// ----------------------------------------------------------------------
#footer {
	padding-top: 20px;

	&::before {display: none;}

	.copyright {margin-top: 45px;}

	@include media-breakpoint-down(sm) {
		.copyright {margin-top: 25px;}
	}
}


// main
// ----------------------------------------------------------------------
#banner {
	background: #2E2A27;

	.swiper-button-white {
		width: 40px;
		height: 40px;
		margin-top: -20px;
		background-color: hsla(0,0,0,0.5);
		background-size: 50% 50%;
	}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {
		> ul {
			> li {
				&::before {
					@include make-container();
					@include make-container-max-widths();

					content:" ";
					display: block;
					width: 100%;
					height: 40px;
					background: url(#{$img-path2}/watermark.png) no-repeat $grid-gutter-width 0 / contain;

					position: absolute;
					left: 50%;
					top: 10px;
					transform: translateX(-50%);
					z-index: $zindex-popover;
				}
			}
		}

		.swiper-button-white {
			width: 28px;
			height: 28px;
			margin-top: -14px;
			background-size: 40% 40%;
		}
	}
}

#main {
	background:
		url(#{$img-path}/bgDot.png),
		#1a1a1a url(#{$img-path}/bgFooter.jpg) repeat-y center top;
}

.grid-series {
	background: #757C7F url(#{$img-path}/bg4.jpg) no-repeat center top;
	text-align: center;

	padding: 55px 0 30px 0;

	.h2 {
		font-size: em(75px);
		font-family: $font-family-en;
		color: #fff;

		position: relative;
		margin-bottom: 0;

		&::before {
			content: attr(title);
			color: hsla(0, 0%, 40%, 0.5);
			position: absolute;
			transform: translate(-2px, -2px);
		}
	}

	.h3 {font-size: $font-size-h5;}

	#marquee {
		position: relative;
        margin: 50px auto;
        padding:0 60px;

        ol {margin: 0;}

        li {
        	padding-bottom: $spacer*2.5;

        	a {
        		display: block;
        		height: 155px;
        		line-height: 155px;

        		margin: 0 15px;
        	}
            img {
            	max-width: 100%;
            	max-height: 100%;
            }
        }

		.h4 {
			@extend %text-truncate;
			width: 100%;
			height: 1em*$line-height;
			font-size: em(19px);
			text-align: center;
			text-shadow: 1px 1px 0 #ddd;

			position: absolute;
			left: 0;
			bottom: 0;
		}

		.prev, .next {
			width: 28px;
			height: 46px;
			background: url(#{$img-path}/arrows.png) no-repeat;

			top:40%;
			margin-top: -23px;

			opacity: 0.5;
			transition: opacity 0.3s;

			&:hover {opacity: 1;}
		}

		.prev {left: 0;}

		.next {
			right: 0;
			background-position: right top;
		}
	}

	@include media-breakpoint-down(md) {

		#marquee {
			margin: 20px auto;

			li {

				a {
					height: 120px;
					margin: 0 $spacer*0.7;
				}
			}

			.h4 {font-size: $font-size-sm;}
			.prev, .next {top: 50%;}
		}
	}

	@include media-breakpoint-down(sm) {
		padding-top: 40px;

		.h2 {
			font-size: 3em;

			&::before {transform: translate(-1.5px, -1.5px);}
		}

		.h3 {
			font-size: 1em;
			line-height: 1.5;
		}

		#marquee {
			padding:0;

			li {
	        	padding-bottom: 0;

	        	a {
	        		height: 70px;
	        		line-height: 70px;
	        		margin: 0 $spacer/2;
	        	}
	        }

	        .h4 {display: none;}

			.prev, .next {display: none;}
		}
	}

	@include media-breakpoint-down(xs) {
		padding-top: 20px;

		.h2 {font-size: 2em;}
		.h3 {font-size: $font-size-sm;}

		#marquee {
			margin: $spacer auto;

			li a {height: 60px; line-height: 60px;}
		}
	}
}

.grid-news {
	position: relative;
	padding: 65px 0;

	&::before {
        content:" ";
        display: block;
        width: 100%;
        height: 197px;
        background:
            url(#{$img-path}/bgLine.png) no-repeat center top,
            url(#{$img-path}/bgLine2.png) repeat-x center top;

        position: absolute;
        left: 0;
        top: -113px;
    }

    .article-list {
    	@extend .col-lg-8;
    	@extend .col-md-7;
    	@extend .col-xs-12;
    	padding-left: 0;
    	padding-right: $grid-gutter-width;

    	color: #E1E3DF;

    	.h2 {
	    	color: #E6E6E6;
	    	font-size: em(75px);
	    	font-family: $font-family-en;
	    }

	    .h3 {
	    	font-weight: bold;
	    	font-size: $font-size-h4;

	    	small {
	    		display: block;
	    		color: #999;
	    		font-size: $font-size-sm;
	    		font-weight: normal;

	    		margin-bottom: $spacer*0.6;
	    	}
	    }

	    .article {
	    	margin-bottom: $spacer*1.5;

	    	p {margin-bottom: $spacer*0.7;}
	    }

	    .more {
	    	display: inline-block;
	    	padding: $spacer*0.2 $spacer*0.5;
	    	font-size: $font-size-sm;
	    	letter-spacing: 0.1em;
	    	color: #fff;
	    	background: #544D48;

	    	&:hover {background: #806654;}
	    }
    }

    .fb {
    	@extend .col-lg-4;
    	@extend .col-md-5;
    	@extend .col-xs-12;
    	padding-right: 0;
    	padding-left: $grid-gutter-width;

    	.qr {
    		margin-top: $spacer;
    		img + img {margin-left: 10px;}
    	}
    }

    @include media-breakpoint-down(sm) {
    	padding: 40px 0;

    	.article-list, .fb {padding:0 $grid-gutter-width/2;}
    	.article-list {
    		margin-bottom: $spacer*3;
    		.h2 {font-size: 3em;}
    	}
    }
}

.grid-count {
	.h2 {
		font-size: 1em;
		color: #BBBCB9;
		text-align: center;

		position: relative;

		span {

			&::before, &::after {
				content:" ";
				width: 30%;
				height: 1px;
				border-top: 1px solid; 

				position: absolute;
				top: 12px;
			}
			&::before {left: 0;}
			&::after {right: 0;}

			strong {
				color: $brand-primary;
				font-size: em(21px);
				letter-spacing: 0.1em;

				margin: 0 $spacer*0.7;
			}
		}
	}

	@include media-breakpoint-down(md) {
		.h2 {
			span {
				&::before, &::after {width: 20%;}
			}
		}
	}

	@include media-breakpoint-down(sm) {

		.h2 {
			span {
				font-size: $font-size-sm;
				&::before, &::after {display: none;}
				
				strong {
					font-size: 1em;
					letter-spacing: 0.05em;
					margin: 0;
				}
			}
		}
	}
}