@charset "UTF-8";

// var
// ------------------------------------------------------------



// import
// ------------------------------------------------------------

// Core variables and mixins
@import "helper/variables";
@import "_web/var";

@import "helper/mixins";
@import "helper/function";

// Reset and dependencies
@import "base/normalize";
@import "base/print";
@import "base/reboot";

// Elements
@import "element/type";
@import "element/images";
// @import "element/code";
@import "element/tables";
@import "element/forms";
@import "element/buttons";

// Layout
@import "layout/grid";

// Module
// @import "module/animation";
@import "module/dropdown";
// @import "module/button-group";
// @import "module/input-group";
@import "module/custom-forms";
@import "module/nav";
@import "module/navbar";
@import "module/card";
@import "module/breadcrumb";
// @import "module/pagination";
// @import "module/pager";
// @import "module/labels";
// @import "module/jumbotron";
// @import "module/alert";
// @import "module/progress";
// @import "module/media";
// @import "module/list-group";
// @import "module/responsive-embed";
// @import "module/close";

// Components w/ JavaScript
// @import "module/modal";
// @import "module/tooltip";
// @import "module/popover";
// @import "module/carousel";

// Utility classes
// @import "helper/utilities";
@import "helper/utilities-extends";
@import "helper/extend";
// @import "helper/utilities-background";
// @import "helper/utilities-spacing";
@import "helper/utilities-responsive";

@import "_web/layout";


/*      page
-----------------------------------------------------------------------*/


// BuyCar
.grid-gallery {
    background: #767D80 url(#{$img-path}/bg2.jpg) repeat-y center top;
    padding: 35px 0;
}

#banner-thumb {

    ul {margin:0;}

    img {
        max-width: 100%;
        max-height: 215px;
    }

    .prev, .next {
        width: 31px;
        height: 72px;
        background: url(#{$img-path}/arrows2.jpg) no-repeat;

        top:50%;
        margin-top: -36px;
    }

    .prev {left: 0;}

    .next {
        right: 0;
        background-position: right top;
    }
}

.grid-location {
    padding-top: 80px;

    .search {
        @extend .col-xs-4;
        padding-left: 0;

        .btn {
            background: linear-gradient(#71797e, #cfcfcf);
            border: 1px solid #E5E5E5;
            box-shadow: 0 0 3px #686868;

            font-size: em(18px);
            color: #2E2A27;
            text-shadow: 1px 1px 0 #E5E5E5;
        }
    }

    .map {
        @extend .col-xs-8;
        padding-right: 0;
    }

    #map {
        height: 450px;
    }
}

