@model ProcCore.Business.DB0.EditorDetail
@{
    ViewBag.Title = " 企業相關網站";
    ViewBag.BodyClass = "Enterprise";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrap">

    <h1 class="h1">@ViewBag.Title</h1>

    <section id="content">
        <h2 class="sr-only">順益關係企業一覽</h2>
        <div class="editor">
            @Html.Raw(Model.detail_content)
        </div>
    </section><!-- content //-->

</div>