@{

    var sidebar = (List<ProcCore.Business.DB0.option>)ViewBag.Sidebar;
}
<aside id="sidebar">
    <h2 class="sr-only">子選單</h2>
    <ul class="submenu wrap list-inline">

        @* current page: <a> + class="current" *@
        @foreach (var i in sidebar)
        {
            if (ViewBag.detail_id == i.val)
            {
                <li><a class="current" href="~/AboutUs?id=@i.val">@i.Lname</a></li>
            }
            else {
                <li><a href="~/AboutUs?id=@i.val">@i.Lname</a></li>
            }
        }

    </ul>
</aside><!-- sidebar //-->