@{
    ViewBag.Title = "車款展示";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1 class="sr-only">@ViewBag.Title</h1>

<div class="wrap">

    <section id="content">
        <h2 class="h1">目前暫無資料</h2>
    </section><!-- content //-->

</div>