@{
    ViewBag.Title = "認證中古車";
    ViewBag.BodyClass = "UsedCar p0";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <!--[if gte IE 9]><!-->
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
    <link href="~/Content/css/swiper.min.css" rel="stylesheet">
    <!--<![endif]-->
}

@section Scripts {
    <script>
        var caption = '@ViewBag.Title';
    </script>
    <script src="~/Scripts/build/app/vendorsforweb.js"></script>
    <script src="~/Scripts/build/app/w_usedcar_index.js"></script>
    <!--[if gte IE 9]><!-->
    <script src="~/Content/js/swiper/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('#banner', {
            autoplay: 4000,
            autoplayDisableOnInteraction: false,
            loop: true,
            speed: 500
        });
    </script>
    <!--<![endif]-->
    <script>
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/UsedCar/UsedCar_sidebar.cshtml")

<section id="content">

    <div id="jsx"></div>

    <div class="grid-quality">
        <div class="wrap">
            <aside class="quality">
                <h3 class="sr-only">原廠三大保證 &amp; 延長保固</h3>
                <ul class="list-unstyled">
                    <li><a class="scroll" href="#article1">車輛三大保證</a></li>
                    <li><a class="scroll" href="#article2">車輛延長保固</a></li>
                </ul>
            </aside>
            <article class="detail">
                <h3 class="sr-only">購車說明</h3>
                <ul class="list-unstyled row">
                    <li><a class="scroll" href="#article3">事故認定及責任</a></li>
                    <li class="sellLi">
                        <p class="sellPlace">展示中心:</p>
                        <p class="sellPlace"><a href="https://www.google.com.tw/maps/place/新竹縣竹東鎮中興路四段915號" target="_blank">新竹店 &nbsp; 新竹縣竹東鎮中興路四段915號 &nbsp;&nbsp; </a> <span onclick="location.href='tel:03-5821213'">03-5821213</span></p>
                        <p class="sellPlace"><a href="https://www.google.com.tw/maps/place/台中市潭子區中山路一段420號" target="_blank">台中店 &nbsp; 台中市潭子區中山路一段420號 &nbsp;&nbsp; </a> <span onclick="location.href='tel:04-25325199'">04-25325199</span></p>
                    </li>
                </ul>
            </article>
        </div>
    </div>

    <div class="grid-info">
        <div class="wrap">

            <article id="article1" class="article">
                <h3 class="h1">車輛三大保證</h3>
                <div class="editor">
                    <h2 class="colored">本活動所競標之車輛保證：</h2>
                    <ul class="list-underline list-icon">
                        <li><strong>非泡水車：</strong>保證車內無入水至座椅，且引擎室未泡過水。</li>
                        <li><strong>非 贓 車：</strong>保證車身號碼或引擎號碼皆未經過變造。</li>
                        <li><strong>無重大事故：</strong>保證無重大事故或車體銜接。</li>
                    </ul>
                </div>
            </article>

        </div>
    </div>

    <div class="grid-info">
        <div class="wrap">

            <article id="article2" class="article">
                <h3 class="h1">車輛延長保固</h3>
                <div class="editor">
                    <h2 class="colored">順益汽車中古車安心保固契約要點</h2>
                    <h3 class="colored">A級車保證範圍</h3>
                    <p>自順益中古車重新領牌日起，半年或5仟公里內，若發生任何機件品質上的問題，則工資、零件一律7折優惠。(日常保養零件及電瓶、雨刷、煞車來令片、輪胎、火星塞、皮帶等消耗性零件則不在此範圍內)。</p>
                    <h3 class="colored">三大系統保固範圍</h3>
                    <ol class="list-underline">
                        <li>在本契約約定之保固期間或里程內，如您的愛車發生機械故障，經本公司認定為本契約提供之保固範圍者，本公司將負責為您的愛車辦理免費檢修或免費修復。（本契約提供之保固範圍包括：(1)引擎本體機件(2)變速箱本體(3)方向機本體）。</li>
                        <li>本契約約定保固期間之起算日為：新車領牌日起5年以下之車輛，自新車保固屆滿日起，提供一年或2萬公里三大系統之保固。(視何者先屆滿時終止)。</li>
                    </ol>
                    <h3 class="colored">安心保固除外事項</h3>
                    <ol class="list-underline">
                        <li>於保固期間未到指定服務廠(限安心保固卡所載)實施定期保養者，或未依約定之保養週期進行保養者。</li>
                        <li>非保固範圍項目：任何因天災、意外、使用疏忽、使用不當、肇事車禍、外物撞擊、賽車或不可抗力及非經原廠進行之改裝等原因所致之損壞或故障。</li>
                        <li>本保固僅提供『引擎本體』、『變速箱本體』、『方向機本體』等零件之保固，不含正常消耗性零件如火星塞、離合器片、傳動軸防塵套等，及引擎/變速箱之電系部品等。</li>
                        <li>因機械故障而衍生之費用，如道路救援費用、交通罰鍰、營業損失或其他附帶損失等。</li>
                    </ol>
                    <p>『順益優質中古車』除了提供客戶三大保證(非泡水車/非贓車/無重大事故)外，另外保固期間方面也從原先的『半年或五仟公里』延長至『一年或2萬公里』。</p>
                    <p>「品質保證，信用實在」一直是順益汽車對客戶服務的堅持，提供客戶嚴選的中古車、原廠的專業技術、便利的服務，也是順益汽車對每一位客戶不變的承諾。</p>
                </div>
            </article>

        </div>
    </div>

    <div class="grid-info">
        <div class="wrap">

            <article id="article3" class="article">
                <h3 class="h1">事故認定及責任</h3>
                <div class="editor">
                    <h3 class="colored">事故車判定基準</h3>
                    <ol class="list-underline">
                        <li><strong>車頭部份：</strong>凡維修範圍為前避震器座之內者，及前大樑變形需校正、整修或更換判定之。</li>
                        <li><strong>車尾部份：</strong>凡維修範圍為後尾板（含）之內者，只要更換過，判定之。</li>
                        <li><strong>車身底盤部份：</strong>所有車身結構，只要更換過或整修過，判定之。</li>
                        <li><strong>車側部份：</strong>凡Ａ、Ｂ、Ｃ柱及兩側戶定有更換過或整修過，判定之。</li>
                        <li><strong>車頂部份：</strong>更換過車頂時，判定之。</li>
                        <li><strong>排外條款：</strong>車身門皮或葉子板，有更換過或維修過；車頂鈑噴過，不列入事故車之範圍。</li>
                    </ol>
                    <p>『順益優質中古車』除了提供客戶三大保證(非泡水車/非贓車/無重大事故)外，另外保固期間方面也從原先的『半年或五仟公里』延長至『一年或2萬公里』。</p>
                    <p>「品質保證，信用實在」一直是順益汽車對客戶服務的堅持，提供客戶嚴選的中古車、原廠的專業技術、便利的服務，也是順益汽車對每一位客戶不變的承諾。</p>
                    <h3 class="colored">大事故基準規範說明</h3>
                    <ol class="list-underline">
                        <li>左、右側A、B、Ｃ柱位置，有切割之維修現象，或者更換校正作業現象。</li>
                        <li>F1與R1；R2與L2(左右側A、B、C柱)兩條基準線交集之內部範圍(#字型範圍)，因撞擊事故波及導致之最終受損處，已產生龜裂、變形或者有鎚打、切割、焊接及更換校正作業。</li>
                        <li>前後大樑位置，有切割、校正、龜裂、鎚打、焊接之維修痕跡。</li>
                    </ol>
                </div>
            </article>

        </div>
    </div>

 
    
</section>