@{
    ViewBag.Title = "認證中古車";
    ViewBag.BodyClass = "UsedCar page_content";
    Layout = "~/Views/Shared/Layout.cshtml";

    //Parameter
    //ViewBag.h_auc_no
    //ViewBag.h_obj_no

}
@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
    <link href="~/Content/css/swiper.min.css" rel="stylesheet">
}

@section Scripts {
    <script>
        var h_auc_no = '@ViewBag.h_auc_no';
        var h_obj_no = '@ViewBag.h_obj_no';
    </script>
    <script src="~/Scripts/build/app/vendors.js"></script>
    <script src="~/Scripts/build/app/w_usedcar_content.js"></script>
    <script src="~/Content/js/swiper/swiper.min.js"></script>
    <script>
        var banner = new Swiper('#banner .swiper-container', {
            autoplay: 2500,
            autoplayDisableOnInteraction: 'true',
            speed: 500
        });
        $("#banner-thumb").on('click', 'li', function(){
            banner.slideTo($(this).index(), 500);
        });

        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });

        //回上一頁
        $('a#goBack').click(function(){
            history.back();
            return false;
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/UsedCar/UsedCar_sidebar.cshtml")

<section id="content"></section>