@{
    ViewBag.Title = "認證中古車";
    ViewBag.BodyClass = "UsedCar p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script>
        var caption = '@ViewBag.Title';
    </script>
    <script src="~/Scripts/build/app/vendors.js"></script>
    <script src="~/Scripts/build/app/w_usedcar_list.js"></script>
    <script>
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
    </script>
}

@Html.Partial("~/Views/UsedCar/UsedCar_sidebar.cshtml")
<div id="carContent"></div>