@{
    ViewBag.Title = "認證中古車";
    ViewBag.BodyClass = "UsedCar page_content";
    Layout = "~/Views/Shared/Layout.cshtml";

    //Parameter
    //ViewBag.h_auc_no
    //ViewBag.h_obj_no

}
@section css {
<!--[if gte IE 9]><!-->
<link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
<link href="~/Content/css/swiper.min.css" rel="stylesheet">
<!--<![endif]-->
}

@section Scripts {
<script>
    var h_auc_no = '@ViewBag.h_auc_no';
    var h_obj_no = '@ViewBag.h_obj_no';
</script>
<!--[if gte IE 9]><!-->
<script src="~/Content/js/swiper/swiper.min.js"></script>
<!--<![endif]-->

<!--[if lt IE 9]>
    <script src="/node_modules/es5-shim/es5-shim.js"></script>
    <script src="/node_modules/es5-shim/es5-sham.js"></script>
    <script src="/node_modules/console-polyfill/index.js"></script>
<![endif]-->
<script src="~/Scripts/build/app/vendorsforweb.js"></script>
<script src="~/Scripts/build/app/w_usedcar_content.js"></script>
<script>
    $(window).scroll(function () {
        var h = $('#header').height();
        if ($(this).scrollTop() > h) {
            $('#sidebar, #content').addClass('fixed');
        } else {
            $('#sidebar, #content').removeClass('fixed');
        }
    });

    //回上一頁
    $('a#goBack').click(function () {
        history.back();
        return false;
    });
</script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/UsedCar/UsedCar_sidebar.cshtml")

<div class="wrap" id="carContent"></div>