@{
    ViewBag.Title = "認證中古車";
    ViewBag.BodyClass = "UsedCar p3";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script>
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
        var gb_id = 3;
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="~/Scripts/src/tsx/w-email.js"></script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/UsedCar/UsedCar_sidebar.cshtml")

<div class="wrap">

    <section id="content">

        <h2 class="h1">協助找車</h2>

        @Html.Partial("~/Views/Shared/Form.cshtml")

    </section><!-- content //-->

</div>