@{
    ViewBag.Title = "認證中古車";
    ViewBag.BodyClass = "UsedCar p0";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
    <link href="~/Content/css/swiper.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/Content/js/swiper/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('#banner', {
            autoplay: 4000,
            autoplayDisableOnInteraction: false,
            loop: true,
            speed: 500
        });
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/UsedCar/UsedCar_sidebar.cshtml")

<section id="content">

    <h2 class="sr-only">@ViewBag.Title 歡迎頁</h2>

    <div class="grid-search"><div class="wrap">

        <section class="featured">
            <h3 class="sr-only">推薦好車</h3>
            <div id="banner" class="swiper-container">
                <ul class="swiper-wrapper list-unstyled">
                    <li class="swiper-slide">
                        <figure>
                            <a class="thumb" href="~/UsedCar/Content"><img src="~/Content/images/UsedCar/featured.jpg" alt=""></a>
                            <figcaption>
                                <ul class="info">
                                    <li><em>車型</em>COLT plus 1.6L</li>
                                    <li><em>價格</em><strong>$40,0000</strong></li>
                                    <li><em>年份</em>2012</li>
                                </ul>
                                <p class="detail">11年出廠，最省油的小車，好開好停車。</p>@* 最多62字 *@
                                <a href="~/UsedCar/Content" class="more"><i class="ti-angle-double-right"></i> 看詳細介紹</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="swiper-slide">
                        <figure>
                            <a class="thumb" href="~/UsedCar/Content"><img src="~/Content/images/UsedCar/featured.jpg" alt=""></a>
                            <figcaption>
                                <ul class="info">
                                    <li><em>車型</em>COLT plus 1.6L</li>
                                    <li><em>價格</em><strong>$40,0000</strong></li>
                                    <li><em>年份</em>2012</li>
                                </ul>
                                <p class="detail">最省油的小車，好開好停車。最省油的小車，好開好停車。最省油的小車，好開好停車。最省油的小車，好開好停車。最省油的小車，好開好停車。最省油的小車，好開好停車。</p>@* 最多62字 *@
                                <a href="~/UsedCar/Content" class="more"><i class="ti-angle-double-right"></i> 看詳細介紹</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </section>

        <div class="search">
            <h3 class="h1">我要找車</h3>
            <form class="form" action="">
                <div class="form-group row">
                    <label for="" class="sr-only">廠牌</label>
                    <div class="col-xs-7">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected disabled>廠牌</option>
                        </select>
                    </div>
                    <label for="" class="sr-only">車型</label>
                    <div class="col-xs-5">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected disabled>車型</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="sr-only">車色</label>
                    <div class="col-sm-4 col-xs-5">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected disabled>車色</option>
                        </select>
                    </div>
                    <label for="" class="sr-only">年份</label>
                    <div class="col-sm-4 col-xs-7">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected disabled>年份</option>
                        </select>
                    </div>
                    <label for="" class="sr-only">地點</label>
                    <div class="col-sm-4 col-xs-12">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected disabled>地點</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="sr-only">價格</label>
                    <div class="col-xs-5">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected>$0</option>
                        </select>
                    </div>
                    <label for="" class="col-xs-2 form-control-label text-xs-center">~</label>
                    <div class="col-xs-5">
                        <select name="" id="" class="form-control c-select style2">
                        <option value="" selected>不限</option>
                            <option value="">$1,000,000</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary">找車</button>
                    <a href="~/UsedCar/Form" class="btn btn-secondary">填寫更多需求 (協助找車)</a>
                    <a href="~/UsedCar/List" class="btn btn-block btn-danger">看全部中古車</a>
                </div>
            </form>
        </div>

    </div></div>

    <section class="grid-products"><div class="wrap">
        <h3 class="sr-only">最新刊登車款</h3>
        
        <ol class="card-list row">
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a class="num" href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a class="num" href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a class="num" href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a class="num" href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a class="num" href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
        </ol>

    </div></section>

    <div class="grid-quality"><div class="wrap">
        <aside class="quality">
            <h3 class="sr-only">原廠三大保證 &amp; 延長保固</h3>
            <ul class="list-unstyled">
                <li><a class="scroll" href="#article1">車輛三大保證</a></li>
                <li><a class="scroll" href="#article2">車輛延長保固</a></li>
            </ul>
        </aside>
        <article class="detail">
            <h3 class="sr-only">購車說明</h3>
            <ul class="list-unstyled row">
                <li><a class="scroll" href="#article3">事故認定及責任</a></li>
                <li><a class="scroll" href="#article4">相關表格下載</a></li>
                <li><a class="scroll" href="#article5">競拍流程說明</a></li>
            </ul>
        </article>
    </div></div>

    <div class="grid-info"><div class="wrap">

        <article id="article1" class="article">
            <h3 class="h1">車輛三大保證</h3>
            <div class="editor">編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br></div>
        </article>

    </div></div>

    <div class="grid-info"><div class="wrap">

        <article id="article2" class="article">
            <h3 class="h1">車輛延長保固</h3>
            <div class="editor">編輯器內容編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br></div>
        </article>

    </div></div>

    <div class="grid-info"><div class="wrap">

        <article id="article3" class="article">
            <h3 class="h1">事故認定及責任</h3>
            <div class="editor">編輯器內容編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br></div>
        </article>

    </div></div>

    <div class="grid-info"><div class="wrap">

        <article id="article4" class="article">
            <h3 class="h1">相關表格下載</h3>
            <div class="editor">編輯器內容編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br></div>
        </article>

    </div></div>

    <div class="grid-info"><div class="wrap">

        <article id="article5" class="article">
            <h3 class="h1">競拍流程說明</h3>
            <div class="editor">編輯器內容編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br>編輯器內容<br></div>
        </article>

    </div></div>

</section>