@{
    ViewBag.Title = "認證中古車";
    ViewBag.BodyClass = "UsedCar p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
<script>
    var caption = '@ViewBag.Title';
</script>

<!--[if lt IE 9]>
    <script src="/node_modules/es5-shim/es5-shim.js"></script>
    <script src="/node_modules/es5-shim/es5-sham.js"></script>
    <script src="/node_modules/console-polyfill/index.js"></script>
<![endif]-->

<script src="~/Scripts/build/app/vendorsforweb.js"></script>
<script src="~/Scripts/build/app/w_usedcar_list.js"></script>
<script>
    $(window).scroll(function () {
        var h = $('#header').height();
        if ($(this).scrollTop() > h) {
            $('#sidebar, #content').addClass('fixed');
        } else {
            $('#sidebar, #content').removeClass('fixed');
        }
    });
</script>
}

@Html.Partial("~/Views/UsedCar/UsedCar_sidebar.cshtml")
<div class="wrap" id="carContent"></div>