@{
    ViewBag.Title = "認證中古車";
    ViewBag.BodyClass = "UsedCar p0";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <!--[if gte IE 9]><!-->
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
    <link href="~/Content/css/swiper.min.css" rel="stylesheet">
    <!--<![endif]-->
}

@section Scripts {
    <script>
        var caption = '@ViewBag.Title';
    </script>
    <script src="~/Scripts/build/app/vendorsforweb.js"></script>
    <script src="~/Scripts/build/app/w_usedcar_index.js"></script>
    <!--[if gte IE 9]><!-->
    <script src="~/Content/js/swiper/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('#banner', {
            autoplay: 4000,
            autoplayDisableOnInteraction: false,
            loop: true,
            speed: 500
        });
    </script>
    <!--<![endif]-->
    <script>
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/UsedCar/UsedCar_sidebar.cshtml")

<section id="content"></section>