@{
    ViewBag.Title = "認證中古車";
    ViewBag.BodyClass = "UsedCar p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script>
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
    </script>
}

@Html.Partial("~/Views/UsedCar/UsedCar_sidebar.cshtml")

<div class="wrap">

<h1 class="h1">@ViewBag.Title</h1>

<section id="content">

    <h2 class="sr-only">全部中古車一覽表</h2>

    <section class="grid-search">
        <h3 class="sr-only">搜尋條件</h3>
        <form class="form-inline text-sm-center text-xs-left" action="">
            <div class="form-group">
                <label for="">廠牌</label>
                <select name="" id="" class="form-control c-select style2">
                    <option value="" selected disabled>廠牌</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">車型</label>
                <select name="" id="" class="form-control c-select style2">
                    <option value="" selected disabled>車型</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">車色</label>
                <select name="" id="" class="form-control c-select style2">
                    <option value="" selected disabled>車色</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">年份</label>
                <select name="" id="" class="form-control c-select style2">
                    <option value="" selected disabled>年份</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">地點</label>
                <select name="" id="" class="form-control c-select style2">
                    <option value="" selected disabled>地點</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">價格</label>
                <select name="" id="" class="form-control c-select style2">
                    <option value="" selected>$0</option>
                </select>
                <label for="">~</label>
                <select name="" id="" class="form-control c-select style2">
                    <option value="" selected>不限</option>
                    <option value="">$1,000,000</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary">找車</button>
                <button class="btn btn-muted">清除搜尋條件</button>
                <a href="~/UsedCar/Form" class="btn btn-muted">填寫更多需求 (協助找車)</a>
            </div>
        </form>
    </section>

    <section class="grid-products">
        <h3 class="sr-only">拍賣中的車款</h3>
        
        <ol class="card-list row">
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
        </ol>

    </section>

</section>

</div>