@{
    ViewBag.Title = "認證中古車";
    ViewBag.BodyClass = "UsedCar p0";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <!--[if gte IE 9]><!-->
        <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
        <link href="~/Content/css/swiper.min.css" rel="stylesheet">
    <!--<![endif]-->
}

@section Scripts {
    <!--[if gte IE 9]><!-->
        <script src="~/Content/js/swiper/swiper.min.js"></script>
        <script>
            var swiper = new Swiper('#banner', {
                autoplay: 4000,
                autoplayDisableOnInteraction: false,
                loop: true,
                speed: 500
            });
        </script>
    <!--<![endif]-->
    <script>
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/UsedCar/UsedCar_sidebar.cshtml")

<section id="content">

    <h2 class="sr-only">@ViewBag.Title 歡迎頁</h2>

    <div class="grid-search"><div class="wrap">

        <section class="featured">
            <h3 class="sr-only">推薦好車</h3>
            <div id="banner" class="swiper-container">
                <ul class="swiper-wrapper list-unstyled">
                    <li class="swiper-slide">
                        <figure>
                            <a class="thumb" href="~/UsedCar/Content"><img src="~/Content/images/UsedCar/featured.jpg" alt=""></a>
                            <figcaption>
                                <ul class="info list-unstyled">
                                    <li><em>車型</em>COLT plus 1.6L</li>
                                    <li><em>價格</em><strong>$40,0000</strong></li>
                                    <li><em>年份</em>2012</li>
                                </ul>
                                <p class="detail">11年出廠，最省油的小車，好開好停車。</p>@* 最多62字 *@
                                <a href="~/UsedCar/Content" class="more"><i class="ti-angle-double-right"></i> 看詳細介紹</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="swiper-slide">
                        <figure>
                            <a class="thumb" href="~/UsedCar/Content"><img src="~/Content/images/UsedCar/featured.jpg" alt=""></a>
                            <figcaption>
                                <ul class="info list-unstyled">
                                    <li><em>車型</em>COLT plus 1.6L</li>
                                    <li><em>價格</em><strong>$40,0000</strong></li>
                                    <li><em>年份</em>2012</li>
                                </ul>
                                <p class="detail">最省油的小車，好開好停車。最省油的小車，好開好停車。最省油的小車，好開好停車。最省油的小車，好開好停車。最省油的小車，好開好停車。最省油的小車，好開好停車。</p>@* 最多62字 *@
                                <a href="~/UsedCar/Content" class="more"><i class="ti-angle-double-right"></i> 看詳細介紹</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </section>

        <div class="search">
            <h3 class="h1">我要找車</h3>
            <form class="form" action="">
                <div class="form-group row">
                    <label for="" class="sr-only">廠牌</label>
                    <div class="col-xs-7">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected disabled>廠牌</option>
                        </select>
                    </div>
                    <label for="" class="sr-only">車型</label>
                    <div class="col-xs-5">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected disabled>車型</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="sr-only">車色</label>
                    <div class="col-sm-4 col-xs-5">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected disabled>車色</option>
                        </select>
                    </div>
                    <label for="" class="sr-only">年份</label>
                    <div class="col-sm-4 col-xs-7">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected disabled>年份</option>
                        </select>
                    </div>
                    <label for="" class="sr-only">地點</label>
                    <div class="col-sm-4 col-xs-12 gutter-xs-down">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected disabled>地點</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="sr-only">價格</label>
                    <div class="col-xs-5">
                        <select name="" id="" class="form-control c-select style2">
                            <option value="" selected>$0</option>
                        </select>
                    </div>
                    <label for="" class="col-xs-2 form-control-label text-xs-center">~</label>
                    <div class="col-xs-5">
                        <select name="" id="" class="form-control c-select style2">
                        <option value="" selected>不限</option>
                            <option value="">$1,000,000</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary">找車</button>
                    <a href="~/UsedCar/Form" class="btn btn-secondary">填寫更多需求 (協助找車)</a>
                    <a href="~/UsedCar/List" class="btn btn-block btn-danger gutter-sm-down gutter-lg-up">看全部中古車</a>
                </div>
            </form>
        </div>

    </div></div>

    <section class="grid-products"><div class="wrap">
        <h3 class="sr-only">最新刊登車款</h3>
        
        <ol class="card-list row">
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a class="num" href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a class="num" href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a class="num" href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a class="num" href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a class="num" href="~/UsedCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                            <span class="label label-danger">結束時間：2016/1/1 18:00:59</span>
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                拍賣編號
                                <a href="~/UsedCar/Content">A08037</a>
                            </h3>
                            <div class="card-text">
                                <ul class="info list-unstyled">
                                    <li><em>廠牌:</em> Mitsubishi</li>
                                    <li><em>車型:</em> COLTPLUS1 6LNB030</li>
                                    <li><em>車色:</em> 銀 <em>年份:</em> 2013 <em>地點:</em> 蘆洲廠</li>
                                </ul>
                                <p class="price text-danger">直購價<strong>$668,000</strong></p>
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
        </ol>

    </div></section>

    <div class="grid-quality"><div class="wrap">
        <aside class="quality">
            <h3 class="sr-only">原廠三大保證 &amp; 延長保固</h3>
            <ul class="list-unstyled">
                <li><a class="scroll" href="#article1">車輛三大保證</a></li>
                <li><a class="scroll" href="#article2">車輛延長保固</a></li>
            </ul>
        </aside>
        <article class="detail">
            <h3 class="sr-only">購車說明</h3>
            <ul class="list-unstyled row">
                <li><a class="scroll" href="#article3">事故認定及責任</a></li>
                <li><a class="scroll" href="#article4">相關表格下載</a></li>
                <li><a class="scroll" href="#article5">競拍流程說明</a></li>
            </ul>
        </article>
    </div></div>

    <div class="grid-info"><div class="wrap">

        <article id="article1" class="article">
            <h3 class="h1">車輛三大保證</h3>
            <div class="editor">
                <h2 class="colored">本活動所競標之車輛保證：</h2>
                <ul class="list-underline list-icon">
                    <li><strong>非泡水車：</strong>保證車內無入水至座椅，且引擎室未泡過水。</li>
                    <li><strong>非 贓 車：</strong>保證車身號碼或引擎號碼皆未經過變造。</li>
                    <li><strong>無重大事故：</strong>保證無重大事故或車體銜接。</li>
                </ul>
            </div>
        </article>

    </div></div>

    <div class="grid-info"><div class="wrap">

        <article id="article2" class="article">
            <h3 class="h1">車輛延長保固</h3>
            <div class="editor">
                <h2 class="colored">順益汽車中古車安心保固契約要點</h2>
                <h3 class="colored">A級車保證範圍</h3>
                <p>自順益中古車重新領牌日起，半年或5仟公里內，若發生任何機件品質上的問題，則工資、零件一律7折優惠。(日常保養零件及電瓶、雨刷、煞車來令片、輪胎、火星塞、皮帶等消耗性零件則不在此範圍內)。</p>
                <h3 class="colored">三大系統保固範圍</h3>
                <ol class="list-underline">
                    <li>在本契約約定之保固期間或里程內，如您的愛車發生機械故障，經本公司認定為本契約提供之保固範圍者，本公司將負責為您的愛車辦理免費檢修或免費修復。（本契約提供之保固範圍包括：(1)引擎本體機件(2)變速箱本體(3)方向機本體）。</li>
                    <li>本契約約定保固期間之起算日為：新車領牌日起5年以下之車輛，自新車保固屆滿日起，提供一年或2萬公里三大系統之保固。(視何者先屆滿時終止)。</li>
                </ol>
                <h3 class="colored">安心保固除外事項</h3>
                <ol class="list-underline">
                    <li>於保固期間未到指定服務廠(限安心保固卡所載)實施定期保養者，或未依約定之保養週期進行保養者。</li>
                    <li>非保固範圍項目：任何因天災、意外、使用疏忽、使用不當、肇事車禍、外物撞擊、賽車或不可抗力及非經原廠進行之改裝等原因所致之損壞或故障。</li>
                    <li>本保固僅提供『引擎本體』、『變速箱本體』、『方向機本體』等零件之保固，不含正常消耗性零件如火星塞、離合器片、傳動軸防塵套等，及引擎/變速箱之電系部品等。</li>
                    <li>因機械故障而衍生之費用，如道路救援費用、交通罰鍰、營業損失或其他附帶損失等。</li>
                </ol>
                <p>『順益優質中古車』除了提供客戶三大保證(非泡水車/非贓車/無重大事故)外，另外保固期間方面也從原先的『半年或五仟公里』延長至『一年或2萬公里』。</p>
                <p>「品質保證，信用實在」一直是順益汽車對客戶服務的堅持，提供客戶嚴選的中古車、原廠的專業技術、便利的服務，也是順益汽車對每一位客戶不變的承諾。</p>
            </div>
        </article>

    </div></div>

    <div class="grid-info"><div class="wrap">

        <article id="article3" class="article">
            <h3 class="h1">事故認定及責任</h3>
            <div class="editor">
                <h3 class="colored">事故車判定基準</h3>
                <ol class="list-underline">
                    <li><strong>車頭部份：</strong>凡維修範圍為前避震器座之內者，及前大樑變形需校正、整修或更換判定之。</li>
                    <li><strong>車尾部份：</strong>凡維修範圍為後尾板（含）之內者，只要更換過，判定之。</li>
                    <li><strong>車身底盤部份：</strong>所有車身結構，只要更換過或整修過，判定之。</li>
                    <li><strong>車側部份：</strong>凡Ａ、Ｂ、Ｃ柱及兩側戶定有更換過或整修過，判定之。</li>
                    <li><strong>車頂部份：</strong>更換過車頂時，判定之。</li>
                    <li><strong>排外條款：</strong>車身門皮或葉子板，有更換過或維修過；車頂鈑噴過，不列入事故車之範圍。</li>
                </ol>
                <p>『順益優質中古車』除了提供客戶三大保證(非泡水車/非贓車/無重大事故)外，另外保固期間方面也從原先的『半年或五仟公里』延長至『一年或2萬公里』。</p>
                <p>「品質保證，信用實在」一直是順益汽車對客戶服務的堅持，提供客戶嚴選的中古車、原廠的專業技術、便利的服務，也是順益汽車對每一位客戶不變的承諾。</p>
                <h3 class="colored">大事故基準規範說明</h3>
                <ol class="list-underline">
                    <li>左、右側A、B、Ｃ柱位置，有切割之維修現象，或者更換校正作業現象。</li>
                    <li>F1與R1；R2與L2(左右側A、B、C柱)兩條基準線交集之內部範圍(#字型範圍)，因撞擊事故波及導致之最終受損處，已產生龜裂、變形或者有鎚打、切割、焊接及更換校正作業。</li>
                    <li>前後大樑位置，有切割、校正、龜裂、鎚打、焊接之維修痕跡。</li>
                </ol>
            </div>
        </article>

    </div></div>

    <div class="grid-info"><div class="wrap">

        <article id="article4" class="article">
            <h3 class="h1">相關表格下載</h3>
            <div class="editor">
                <ul class="list-underline list-icon">
                    <li><a href="http://symb2b.sym-motor.com.tw/%E6%8E%88%E4%BF%A1%E9%83%A8/%E4%B8%AD%E5%8F%A4%E8%BB%8A%E7%B5%84/%E7%B6%B2%E9%A0%81/%E6%AA%94%E6%A1%88/%E6%8B%8D%E8%B3%A3%E5%A7%94%E8%A8%97%E6%9B%B8.pdf" target="new">客戶(來賓)拍賣委託書</a></li>
                    <li><a href="http://symb2b.sym-motor.com.tw/%E6%8E%88%E4%BF%A1%E9%83%A8/%E4%B8%AD%E5%8F%A4%E8%BB%8A%E7%B5%84/%E7%B6%B2%E9%A0%81/%E6%AA%94%E6%A1%88/%E6%B1%BD%E8%BB%8A%E8%B2%B7%E8%B3%A3%E5%90%88%E7%B4%84%E6%9B%B8.pdf" target="new">汽車買賣契約書</a></li>
                    <li><a href="http://symb2b.sym-motor.com.tw/%E6%8E%88%E4%BF%A1%E9%83%A8/%E4%B8%AD%E5%8F%A4%E8%BB%8A%E7%B5%84/%E7%B6%B2%E9%A0%81/%E6%AA%94%E6%A1%88/%E7%B6%B2%E6%8B%8D%E8%BB%8A%E5%8C%AF%E6%AC%BE%E5%B8%B3%E8%99%9F.pdf" target="new">網拍車匯款帳號</a></li>
                    <li><a href="http://symb2b.sym-motor.com.tw/%E6%8E%88%E4%BF%A1%E9%83%A8/%E4%B8%AD%E5%8F%A4%E8%BB%8A%E7%B5%84/%E7%B6%B2%E9%A0%81/%E6%AA%94%E6%A1%88/%E4%B8%AD%E5%8F%A4%E8%BB%8A%E8%BD%89%E8%AA%BF%E5%96%AE.pdf" target="new">車輛轉調申請書</a></li>
                    <li><a href="http://symb2b.sym-motor.com.tw/%E6%8E%88%E4%BF%A1%E9%83%A8/%E4%B8%AD%E5%8F%A4%E8%BB%8A%E7%B5%84/%E7%B6%B2%E9%A0%81/%E6%AA%94%E6%A1%88/%E5%AE%A2%E6%88%B6%E8%B3%87%E6%96%99%E5%9B%9E%E9%A5%8B%E8%A1%A8.pdf" target="new">客戶資料回饋表</a></li>
                    <li><a href="http://symb2b.sym-motor.com.tw/%E6%8E%88%E4%BF%A1%E9%83%A8/%E4%B8%AD%E5%8F%A4%E8%BB%8A%E7%B5%84/%E7%B6%B2%E9%A0%81/%E6%AA%94%E6%A1%88/%E9%A0%86%E7%9B%8A%E6%B1%BD%E8%BB%8A%E7%B6%B2%E6%8B%8D%E8%BB%8A%E8%AA%BF%E6%9F%A5%E8%A1%A8.pdf" target="new">網拍車車況調查表</a></li>
                </ul>
            </div>
        </article>

    </div></div>

    <div class="grid-info"><div class="wrap">

        <article id="article5" class="article">
            <h3 class="h1">競拍流程說明</h3>
            <div class="editor">
                <p>請至 <a href="http://symb2b.sym-motor.com.tw/" target="new">順益汽車優質網拍車</a> 網站，方可參與競標唷！</p>
            </div>
        </article>

    </div></div>

</section>