<aside id="sidebar">
    <h2 class="sr-only">子選單</h2>
    <ul class="submenu">

    	@* current page: <a> + class="current" *@
        <li><a href="~/Loan">貸款服務簡介</a></li>
        <li><a href="~/Loan">各項分期貸款須知</a></li>
        <li><a href="~/Loan">各項貸款問題 Q&amp;A</a></li>

        <li><a href="~/Loan/Form">線上申貸表格</a></li>
    </ul>
</aside><!-- sidebar //-->