@{
    ViewBag.Title = "貸款專區";
    ViewBag.BodyClass = "Loan";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 150) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/Loan/Loan_sidebar.cshtml")

<div class="wrap">

    <section id="content">
        <h2 class="h1">貸款服務簡介</h2>
        <div class="editor">
            為想買車嗎？當有購車需求的時候，您會考慮些甚麼呢？
是廠牌？是進口或國產？是車子的用途？還是貸款金額及乘數？

您的這些問題，順益汽車都為您想到囉！
所以，特別為您規劃了新車購買指南，透過以下幾個步驟，為您介紹購車前的基本常識，並為您進行分析，希望能對您有所幫助，買到一台適合您的車唷！
        </div>
    </section><!-- content //-->
    
</div>