@{

    var sidebar = (List<ProcCore.Business.DB0.option>)ViewBag.Sidebar;
}
<aside id="sidebar">
    <h2 class="sr-only">子選單</h2>
    <ul class="submenu">

        @* current page: <a> + class="current" *@
        @foreach (var i in sidebar)
        {
            if (ViewBag.detail_id == i.val)
            {
                <li><a class="current" href="~/Loan?id=@i.val">@i.Lname</a></li>
            }
            else {
                <li><a href="~/Loan?id=@i.val">@i.Lname</a></li>
            }
        }

        <li><a href="~/Loan/Form">線上申貸表格</a></li>
    </ul>
</aside><!-- sidebar //-->