@{
    ViewBag.Title = "貸款專區";
    ViewBag.BodyClass = "Loan p4";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script>
        $(window).scroll(function () {
            var h = $('#header').height();
            if ($(this).scrollTop() > h) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
        var widgetId;
        var onloadCallback = function () {
            widgetId = grecaptcha.render('Validate', {
                'sitekey': '6LfOXBcTAAAAAFNfTvo7HMmCLVvn3oz6flwzI445'
            });
        };
    </script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
    <script src="~/Scripts/build/app/vendors.js?v=@CommWebSetup.CacheVer"></script>
    <script src="~/Scripts/build/app/w_loan_email.js?v=@CommWebSetup.CacheVer"></script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/Loan/Loan_sidebar.cshtml")

<div class="wrap">

    <section id="content">

        <h2 class="h1">貸款服務簡介</h2>
        <div id="email_content"></div>
        @*@Html.Partial("~/Views/Shared/Form.cshtml")*@

    </section><!-- content //-->

</div>