@{
    ViewBag.Title = "營業據點";
    ViewBag.BodyClass = "Map";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script>var gb_type = '@Request.QueryString["type"]';</script>

    @if ((bool)ViewBag.ie8)
    {
        <script src="~/Scripts/src/tsx/w-location_forie8.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script src="~/Content/js/gmap-location_forie8.js"></script>
    }
    else {
        <script src="~/Scripts/build/app/vendors.js?v=@CommWebSetup.CacheVer"></script>
        <script src="~/Scripts/build/app/w_location.js?v=@CommWebSetup.CacheVer"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script src="~/Content/js/gmap-location.js"></script>
    }

}

<h1 class="sr-only">@ViewBag.Title</h1>

<div class="wrap">

    <section id="content">
        <h2 class="h1">全台營業據點</h2>
        @if ((bool)ViewBag.ie8)
        {
            <div>
                <div id="map"></div>
                @if (Request.QueryString["type"] == "1")
                {
                    <h3 class="h3">展示中心</h3>
                }
                else {
                    <h3 class="h3">維修據點</h3>
                }

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:10%;">縣市</th>
                                <th style="width:10%;">區域</th>
                                <th style="width:25%;">地址</th>
                                <th style="width:20%;">電話</th>
                                <th style="width:35%;">營業時間</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-content"></tbody>
                    </table>
                </div>

            </div>
        }
        else {
            <div id="location" class="grid-location"></div>
        }


    </section><!-- content //-->

</div>