@model ProcCore.Business.DB0.EditorDetail
@{
    ViewBag.Title = "菁英招募";
    ViewBag.BodyClass = "Careers";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrap">

    <h1 class="h1">@ViewBag.Title</h1>

    <section id="content">
        <h2 class="sr-only">本公司職缺、公司福利介紹</h2>
        <div class="editor">
            @Html.Raw(Model.detail_content)
        </div>
    </section><!-- content //-->

</div>