@charset "UTF-8";


// type
// ----------------------------------------------------------------------
.h1 {
    border-bottom: 3px solid #dedede;
    text-align: center;
    color: #4D4D4D;

    margin: $spacer*3 0;
    padding-bottom: $spacer;

    small {
        display: block;
        color: $gray;
        font-size: 0.5em;
        margin-bottom: $spacer*0.5;
    }

    &.style2 {
        font-size: em(35px);
        margin: $spacer 0 $spacer*2 0;
        padding-bottom: $spacer;
    }
}

.h2 {
    border-left: 3px solid $brand-secondary;
    margin-bottom: $spacer*1.5;
    padding-left: $spacer*0.7;

    small {
        display: block;
        color: $gray;
        font-size: 0.5em;
        margin-bottom: $spacer*0.5;
    }

    a {
        color: $body-color;

        &:hover {color: darken($brand-primary,15%);}
    }
}


// table
// ----------------------------------------------------------------------
.table {
	@extend .table-striped;

	background: transparent;

    td {
    	border: $table-border-width solid $table-border-color;
    }

    thead {

    	th {
    		background: $thead-bg;
    		border: $table-border-width solid $table-border-color;
    		color: #3D3935;
    		font-size: em(18px);
    		font-weight: normal;
            vertical-align: middle;
    	}
    }

    tbody {
    	tr {background: $table-bg;}
    }
}


// buttons
// ----------------------------------------------------------------------
.btn {border-radius: $btn-border-radius;}

.btn-primary {
    background: linear-gradient(#71797e, #cfcfcf);
    box-shadow: 0 0 3px #686868;
    letter-spacing: 0.03em;
    color: #2E2A27;
    font-weight: bold;
    text-shadow: 1px 1px 0 #E5E5E5;

    &:hover, &.active {
        background: linear-gradient(#5f5f5f, #2d2d2d);
        color: #fff;
        text-shadow: 1px 1px 0 #333;
        border-color: #fff;
    }
}

.btn-secondary {
    &:hover {background: #544D48;}
}

.btn-danger {
    &:hover {background: lighten($btn-danger-bg,10%);}
}

.btn-muted {
    @include button-variant($btn-muted-color, $btn-muted-bg, $btn-muted-border);
}

.btn-lg {
    font-size: em(17px);
    border-radius: $btn-border-radius-lg;
}


// form
// ----------------------------------------------------------------------
.form-inline {

    .form-group {
        margin-right: $spacer;
        margin-bottom: $spacer;
    }
}