@charset "UTF-8";


/*      config
-----------------------------------------------------------------------*/

// var
// 

$header-height:         146px !default;
$logo-width:            255px !default;
$logo-spacing:          25px !default;
$submenu-pages:         6;

// base
//

html, body { height: 100%; }

body {
    position: relative;
    left: 0;
    transition: left 0.35s;
}

a {
    @include transition(color 0.3s, background 0.3s);
    &:focus { outline: none; }
}



/*      layout
-----------------------------------------------------------------------*/

#wrapper {
    @if $enable-lte7 { _height: 100%; }
    min-height: 100%;
    background: #F5F5F5 url(#{$img-path}/bg.jpg) repeat-x left bottom $footer-height;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距

    @include media-breakpoint-down(sm) {
        padding-bottom: $footer-height + $content-spacing-xs;
    }
}

.wrap {
    @include make-container();
    @include make-container-max-widths();
    position: relative;
}

#header, #footer, #main {
    position: relative;
}


// header
// ----------------------------------------------------------------------
#header {
    background:
        url(#{$img-path}/bgHeader.gif) repeat-x center bottom,
        #403734 url(#{$img-path}/bgHeader2.jpg) repeat-y center top;
    z-index: $zindex-navbar;

    .logo {
        @include reset-text;
        margin: 0;
        position: absolute;
        left: 0;
        top: -8px;
        z-index: $zindex-navbar+10;

        a {@include text-pic('logo.png', 257px, 180px);}
    }

    .topNav {
        font-size: $font-size-sm;
        position: absolute;
        right: $grid-gutter-width/2;
        top: $spacer*0.5;
        z-index: $zindex-navbar+1;

        li:not(:last-child) { margin-right: $spacer; }
        a {color: #ababab;}

        @each $item in $pages2 {
            $i: index($pages2, $item);
            a:hover, a:active,
            .#{$item} & li:nth-of-type(#{$i}) a {color: $link-hover-color;}
        }
    }

    .showcase {
        position: relative;
        padding-left: $logo-width + $logo-spacing;
        padding-top: 60px;
        padding-bottom: 12px;
        background: url(#{$img-path}/Index/watermark.png) no-repeat $logo-width + $logo-spacing 10px;

        .h2 {
            @include reset-text;
            border: 0;
            margin: 0;
            padding: 0;
            font-size: em(17px);
            color: #ccc;
            position: absolute;
            left: $logo-width + $logo-spacing;
            top: 58px;

            &::after {
                content: "/";
                color:#999;
                font-size: em(18px);
                margin-left:$spacer*0.5;
            }
        }

        a {
            color: #fff;
            &:hover {color: $link-hover-color;}
        }

        .menu, .submenu {
            margin-bottom: 0;
        }

        .menu {
            padding-left: $spacer*6.5;
            font-size: em(18px);

            > li {
                margin-bottom: 0.25em;
                &:not(:last-child) { margin-right:$spacer*1.25; }
            }
        }

        .submenu {
            padding-left: $spacer*6.5;

            li {display: inline-block;}
            a {
                display: inline-block;
                background: #866F5F;
                border-radius: $border-radius*2;
                font-size: $font-size-sm;
                letter-spacing: 0.05em;

                margin-right: $spacer*0.5;
                margin-top: $spacer*0.5;
                padding:$spacer*0.2 $spacer*0.5;
            }
        }

        .collapse-toggle {
            color: $link-hover-color;

            &::after {
                display: inline-block;
                width: 0;
                height: 0;
                margin-top: -0.3em;
                margin-right: .25rem;
                margin-left: $spacer*0.4;
                vertical-align: middle;
                content: "";
                border-top: 0.5em solid lighten($link-hover-color, 35%);
                border-right: 0.35em solid transparent;
                border-left: 0.35em solid transparent;
            }

            &.collapsed {
                color: #fff;

                &:hover {color: $link-hover-color;}
                &::after {border-top-color: #82744B;}
                &:hover::after {border-top-color: lighten($link-hover-color, 35%);}
            }
        }
    }
    @include media-breakpoint-only(lg) {
        .topNav {
            li:not(:last-child) { margin-right: $spacer*0.6; }
        }
        .showcase {
            padding-left: $logo-width;

            background-position: $logo-width 12px;
            background-size: auto 35px;

            .h2 {
                left: $logo-width;
                top: 60px;

                &::after {display: none;}
            }

            .menu {
                padding-left: $spacer*5;

                > li:not(:last-child) { margin-right:$spacer*0.8; }
            }

            .submenu {padding-left: $spacer*5;}

            .collapse-toggle {
                &::after {
                    margin-left: $spacer*0.3;
                    margin-right: 0;
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        background: linear-gradient(135deg, #e22f1a 0%,#992121 100%);
        box-shadow: 0 2px 2px hsla(0,0,0,0.5);

        .logo {
            padding: $spacer 0 $spacer*1.2 0;
            position: static;

            a {
                width: 186px;
                height: 40px;
                background: url(#{$img-path}/logo2.gif) no-repeat;
            }
        }
        .topNav {
            padding: $spacer*0.5;
            position: static;
            order: 3;

            li:not(:last-child) {
                margin: 0;

                &::after {
                    content:"/";
                    color: #6E6661;
                    margin: 0 $spacer*0.3;
                }
            }
        }
        .showcase {
            background: none;
            border-bottom: 1px solid #6E6661;
            padding: $spacer*0.6 $spacer;
            order: 2;

            .menu {
                padding-left: 0;

                li {
                    display: block;
                    margin: 0;
                    
                    a {
                        display: inline-block;
                        font-size: $font-size-sm;
                        padding: $spacer*0.1 0;
                    }
                }
            }
            .submenu {
                padding-left: 0;

                &.collapse {display: block;}

                li {
                    display: block;

                    a {
                        background: none;
                        margin: 0;
                        padding: $spacer*0.1 0;
                    }
                }
            }
            a {
                letter-spacing: 0.1em;

                &::before {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin: 0 $spacer*0.5;
                    vertical-align: middle;
                    content: "";
                    border-left: 0.5em solid lighten($link-hover-color, 35%);
                    border-top: 0.35em solid transparent;
                    border-bottom: 0.35em solid transparent;
                }
            }
        }
    }

}

#menu {
    padding-left: $logo-width + $logo-spacing;

    .navbar-nav {
        li {margin:0;}
    }

    a {
        color: #fff;
        font-size: em(17px);

        padding-left: $spacer*1.9;
        padding-right: $spacer*1.9;
    }

    li:nth-of-type(1) {margin-left: -$spacer*1.9;}

    $selector: ();
    @each $item in $pages {
        $i: index($pages, $item);
        $selector: append($selector, unquote(".#{$item} & li:nth-of-type(#{$i}) a"), comma);
    }
    #{$selector}, .Offer & li:nth-of-type(3) a {
        position: relative;

        &::after {
            content: " ";
            display: block;
            width: 100%;
            height: 26px;
            background: url(#{$img-path}/menuActive.png) center bottom;

            position: absolute;
            left:0;
            bottom:-30px;
        }
    }
    a:hover, #{$selector}, .Offer & li:nth-of-type(3) a {
        color: $link-hover-color;
    }

    @include media-breakpoint-only(lg) {
        padding-left: $logo-width;

        a {
            font-size: 1.05em;
            padding-left: $spacer*0.65;
            padding-right: $spacer*0.65;
        }
        #{$selector} {
            &::after {bottom: -27px;}
        }

        li:nth-of-type(1) {margin-left: -$spacer*0.65;}
    }
    @include media-breakpoint-down(md) {
        padding:0;
        order: 1;

        .navbar-nav {
            > li {
                float: none;
                border-bottom: 1px solid #6E6661;
            }
        }
        li:nth-of-type(1) {margin-left: 0;}

        a {
            padding: $spacer*0.6 $spacer;
            border-left: 3px solid $brand-secondary;
        }
        #{$selector}, .Offer & li:nth-of-type(3) a {
            background: #393129;

            &::after {display: none;}
        }
    }
}

.menu-trigger {
    @include text-hide;
    @include size(50px);

    float:left;
    background: none;

    margin: $spacer*0.8 0;
    margin-right: $spacer;
    padding: $spacer*0.5;

    background: hsla(0,0,0,0.2);

    span {
        display: block;
        height: 4px;
        background: #C5665C;
        position: relative;

        transition: background 0.35s;

        &::before, &::after {
            content: " ";
            display: block;
            width: 100%;
            height: 4px;
            background: #C5665C;

            position: absolute;
            left: 0;
        }

        &::before {
            top: -10px;
            transition: transform 0.35s, top 0.35s;
        }
        &::after {
            bottom: -10px;
            transition: transform 0.35s, bottom 0.35s;
        }
    }

    &.active {
        span {
            background: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }
            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }

}

.mobile-menu {
    @include media-breakpoint-down(md) {
        background: #544D48;
        width: 250px;

        position: fixed;
        left: -250px;
        top: 0; bottom: 0;

        padding: 0;
        overflow-y: auto;

        display: flex;
        flex-direction: column;

        transition: left 0.35s;

        &.pull {left: 0;}
    }
}


// main
// ----------------------------------------------------------------------

#banner {
    background: #000;

    > ul {
        margin-bottom: 0;

        > li {
            text-align: center;
            overflow: hidden;

            img {
                width: 100%;
                max-width: 1920px;
            }
        }
    }
}

#sidebar {
    background: #2E2A27;
    box-shadow: 0 5px 5px hsla(0,0,0,0.2);
    padding-top: $spacer*0.7;
    transition: padding 0.3s;

    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 0;
        z-index: $zindex-navbar-sticky;
    }

    .submenu {
        margin-bottom: 0;
        padding-left: $logo-width + $logo-spacing;

        li {
            margin-left: -$spacer*0.5;

            &:nth-of-type(1) {margin-left: $spacer*0.3;}

            a {
                display: inline-block;
                color: #82744B;

                position: relative;
                padding: $spacer*0.7;

                &::after {
                    content:" ";
                    display: block;
                    width: 0;
                    height: 2px;
                    background: #CF2D2D;

                    position: absolute;
                    left: 0;
                    bottom: 0;

                    transition: width 0.3s;
                }

                &:hover {
                    color: #fff;

                    &::after {width: 100%;}
                }

                &.current {
                    color: #fff;
                    &::after {width: 100%;}
                }
            }

            @for $i from 1 through $submenu-pages {
                
                .p#{$i} &:nth-of-type(#{$i}) a {
                    color: #fff;
                    &::after {width: 100%;}
                }
            }
        }
    }

    @include media-breakpoint-only(lg) {
        .submenu {
            padding-left: $logo-width;

            li {
                &:nth-of-type(1) {margin-left: $spacer*0.8;}
                a {padding: $spacer*0.5 $spacer*0.25;}
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 0;

        &.fixed {position: static;}
        
        .submenu {
            padding-left: $grid-gutter-width/2;

            li {
                &:nth-of-type(1) {margin-left: 0;}
                a {padding: $spacer*0.3;}
            }
        }
    }
}

#content {
    
    &.fixed {padding-top: 47px;}

    @include media-breakpoint-only(lg) {
        &.fixed {padding-top: 40px;}
    }

    @include media-breakpoint-down(md) {
        &.fixed {padding-top: 0;}
    }
}




// footer
// ----------------------------------------------------------------------
#footer {
    margin-top: -($footer-height);
    height: $footer-height;
    background: 
        url(#{$img-path}/bgDot.png),
        #1a1a1a url(#{$img-path}/bgFooter.jpg) repeat-y center top;

    text-align: center;

    padding-top: 35px;

    &::before {
        content:" ";
        display: block;
        width: 100%;
        height: 197px;
        background:
            url(#{$img-path}/bgLine.png) no-repeat center top,
            url(#{$img-path}/bgLine2.png) repeat-x center top;

        position: absolute;
        left: 0;
        top: -112px;
    }

    .tel {
        color: $brand-primary;
        font-size: em(27px);

        strong {
            font-size: $font-size-h1;
            letter-spacing: 0.1em;

            margin-left: $spacer;
        }
    }

    @include media-breakpoint-down(sm) {
        &::before {
            height: 18px;
            top: -9px;
            background: linear-gradient(90deg, #989C9D 0%,#ECEDED 100%);
            box-shadow: 0 0 5px hsla(0,0,0,0.5);
        }

        .tel {
            strong {
                font-size: 1.2em;
            }
        }
    }
}

.copyright {
    color:#8C9294;
    font-size: em(13px);

    margin-top: 20px;

    a {
        margin-left: 5px;
        padding-left: 7px;

        color: #8C9294;
        border-left: 1px solid #8C9294;

        &:hover {
            color: $link-hover-color;
        }
    }
}

.goTop {
    @include size(54px);
    
    color: hsla(0, 0%, 100%, 0.5);
    line-height: em(54px);
    background: hsla(45, 100%, 36%, 0.5);
    border-radius: 50%;

    position: fixed;
    right: $spacer;
    bottom: $spacer;
    
    display: none;

    &:focus, &:hover {color: hsla(0, 0%, 100%, 1);}
    &:hover {background: hsla(45, 100%, 36%, 1);}

    @include media-breakpoint-down(sm) {
        @include size(40px);
        line-height: em(40px);
    }
}