@{
    ViewBag.Title = "預約試乘";
    ViewBag.BodyClass = "TestDrive";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section CSS {
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
}

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="~/Content/js/gmap-custom.js"></script>
}

<div class="wrap">

    <h1 class="h1">@ViewBag.Title</h1>

    <section id="content">

        <h2 class="sr-only">預約試乘申請表</h2>
        
        @Html.Partial("~/Views/Shared/Form.cshtml")

    </section><!-- content //-->
    
</div>