@{
    ViewBag.Title = "購車服務";
    ViewBag.BodyClass = "BuyCar p5";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section CSS {
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
}
@section Scripts {
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="~/Content/js/gmap-custom.js"></script>

	<script>
	    $(window).scroll(function () {
	        var h = $('#header').height();
            if ($(this).scrollTop() > h) {
	            $('#sidebar, #content').addClass('fixed');
	        } else {
	            $('#sidebar, #content').removeClass('fixed');
	        }
	    });
	</script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

@Html.Partial("~/Views/BuyCar/BuyCar_sidebar.cshtml")

<div class="wrap">

    <section id="content">

        <h2 class="h1">預約賞車</h2>

        @Html.Partial("~/Views/Shared/Form.cshtml")

    </section><!-- content //-->
    
</div>