@{
    ViewBag.Title = "購車服務";
    ViewBag.BodyClass = "BuyCar p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 150) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

<aside id="sidebar">
    <h2 class="sr-only">子選單</h2>
    <ul class="submenu">
        <li><a href="~/BuyCar/List">購車優惠</a></li>
        <li><a href="~/BuyCar#location">全台營業據點</a></li>
        <li><a href="~/BuyCar/Info">新車購買指南</a></li>
        <li><a href="~/BuyCar/Info">服務達人</a></li>
        <li><a href="~/BuyCar/Form">預約賞車</a></li>
    </ul>
</aside><!-- sidebar //-->

<div class="wrap">

<h2 class="h1">購車優惠</h1>

<section id="content">

    <section class="grid-products">
        <h3 class="sr-only">精選優惠車款</h3>
        
        <ol class="card-list row">
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/BuyCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                <a href="~/BuyCar/Content">COLT PLUS</a>
                            </h3>
                            <div class="card-text">
                                <strong class="text-danger">NT$ 66.8 萬起</strong> 36 期 0 利率
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/BuyCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                <a href="~/BuyCar/Content">COLT PLUS</a>
                            </h3>
                            <div class="card-text">
                                <strong class="text-danger">NT$ 66.8 萬起</strong> 36 期 0 利率
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/BuyCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                <a href="~/BuyCar/Content">COLT PLUS</a>
                            </h3>
                            <div class="card-text">
                                <strong class="text-danger">NT$ 66.8 萬起</strong> 36 期 0 利率
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/BuyCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                <a href="~/BuyCar/Content">COLT PLUS</a>
                            </h3>
                            <div class="card-text">
                                <strong class="text-danger">NT$ 66.8 萬起</strong> 36 期 0 利率
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/BuyCar/Content" title="SEE MORE">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">
                                <a href="~/BuyCar/Content">COLT PLUS</a>
                            </h3>
                            <div class="card-text">
                                <strong class="text-danger">NT$ 66.8 萬起</strong> 36 期 0 利率
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
        </ol>

    </section>

</section>

</div>