@{
    ViewBag.Title = "購車服務";
    ViewBag.BodyClass = "BuyCar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrap">

    <h1 class="sr-only">@ViewBag.Title</h1>

    <section id="content">
        <h2 class="h2">購車優惠</h2>
        <ol class="pro-list row">
            <li class="pro">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/BuyCar/Content">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                        </a>
                    </dt>
                    <dd class="card-block">
                        <article>
                            <h3 class="card-title">COLT PLUS</h3>
                            <div class="card-text">
                                NT$ 66.8 萬 - NT$ 66.8 萬
                            </div>
                        </article>
                    </dd>
                </dl>
            </li>
        </ol>
    </section><!-- content //-->

    <aside id="sidebar">
        <h2 class="sr-only">sidebar</h2>
        <ul class="submenu">
            <li><a href="~/BuyCar/List">購車優惠</a></li>
            <li><a href="~/BuyCar#location">全台營業據點</a></li>
            <li><a href="~/BuyCar/Info">新車購買指南</a></li>
            <li><a href="~/BuyCar/Info">服務達人</a></li>
            <li><a href="~/FAQ/Form">預約賞車</a></li>
        </ul>
    </aside><!-- sidebar //-->
    
</div>