@{

    var sidebar = (List<ProcCore.Business.DB0.option>)ViewBag.Sidebar;
}
<aside id="sidebar">
    <h2 class="sr-only">子選單</h2>
    <ul class="submenu wrap list-inline">

        @if (@ViewBag.BodyClass.IndexOf("page_content") >= 0)
        {
            <li><a href="#" id="goBack">回前頁</a></li>
        }

        <li><a href="~/Offer/List">購車優惠</a></li>
        <li><a href="~/Map?type=1">全台展示中心</a></li>

        @* current page: <a> + class="current" *@
        @foreach (var i in sidebar)
        {
            if (ViewBag.detail_id == i.val)
            {
                <li><a class="current" href="~/BuyCar/Info?id=@i.val">@i.Lname</a></li>
            }
            else {
                <li><a href="~/BuyCar/Info?id=@i.val">@i.Lname</a></li>
            }
        }

        <li><a href="~/BuyCar/Form">預約賞車</a></li>

    </ul>
</aside><!-- sidebar //-->