@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "FAQ p6";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section CSS {
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
}
@section Scripts {
    <script>
        // $(window).scroll(function () {
        //     var h = $('#header').height();
        //     if ($(this).scrollTop() > h) {
        //         $('#sidebar, #content').addClass('fixed');
        //     } else {
        //         $('#sidebar, #content').removeClass('fixed');
        //     }
        // });
        var gb_id = 1;
    </script>
    <script src="~/Scripts/googleReCAPTCHA.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
    <script src="~/Scripts/src/tsx/w-email.js"></script>
}

@* 2016-04-07 - 隱藏 FAQ 只留 聯絡我們 *@

@* @Html.Partial("~/Views/FAQ/FAQ_sidebar.cshtml") *@

<div class="wrap">

    <section id="content">

        <h1 class="h1">@ViewBag.Title</h1>
        @Html.Partial("~/Views/Shared/Form.cshtml")

    </section><!-- content //-->

</div>