@{

    var sidebar = (List<ProcCore.Business.DB0.m_FaqCategory>)ViewBag.Sidebar;
}
<aside id="sidebar">
    <h2 class="sr-only">子選單</h2>
    <ul class="submenu">
        @if (@ViewBag.BodyClass.IndexOf("page_content") >= 0)
        {
            <li><a href="#" id="goBack">回前頁</a></li>
        }

        @* current page: <a> + class="current" *@
        @foreach (var i in sidebar)
        {
            if (i.faq_category_id == ViewBag.category_id)
            {
                <li><a class="current" href="~/FAQ?category_id=@i.faq_category_id">@i.category_name</a></li>
            }
            else {
                <li><a href="~/FAQ?category_id=@i.faq_category_id">@i.category_name</a></li>
            }

        }
        <li><a href="~/FAQ/Form">聯絡我們</a></li>
    </ul>
</aside><!-- sidebar //-->