<aside id="sidebar">
    <h2 class="sr-only">子選單</h2>
    <ul class="submenu">
        @if (@ViewBag.BodyClass.IndexOf("page_content") >= 0)
        {
    	<li><a href="#" id="goBack">回前頁</a></li>
    	}

        @* current page: <a> + class="current" *@
        <li><a href="~/FAQ/List">車主使用須知</a></li>
        <li><a href="~/FAQ/List">服務問答集</a></li>
        <li><a href="~/FAQ/List">車輛緊急狀況處理方式介紹</a></li>
        <li><a href="~/FAQ/List">保養密技</a></li>
        <li><a href="~/FAQ/List">汽車小博士</a></li>

        <li><a href="~/FAQ/Form">聯絡我們</a></li>
    </ul>
</aside><!-- sidebar //-->