<aside id="sidebar">
    <h2 class="sr-only">子選單</h2>
    <ul class="submenu">   	
		@* current page: <a> + class="current" *@
        <li><a href="~/Accessory">一般百貨</a></li>
        <li><a href="~/Accessory">改裝精品</a></li>
        <li><a href="~/Accessory">車內裝飾</a></li>
        <li><a href="~/Accessory">腳踏地墊</a></li>
        <li><a href="~/Accessory">電子防盜</a></li>
        <li><a href="~/Accessory">遮陽百貨</a></li>
        <li><a href="~/Accessory">其它</a></li>
    </ul>
</aside><!-- sidebar //-->