@{
    ViewBag.Title = "精彩活動回顧";
    ViewBag.BodyClass = "Events";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 150) {
                $('#sidebar, #content').addClass('fixed');
            } else {
                $('#sidebar, #content').removeClass('fixed');
            }
        });

        //回上一頁
        $('a#goBack').click(function(){
            history.back();
            return false;
        });
    </script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

<aside id="sidebar">
    <h2 class="sr-only">子選單</h2>
    <ul class="submenu">
        <li><a href="#" id="goBack">回前頁</a></li>
    </ul>
</aside><!-- sidebar //-->

<section id="content">

    @* 如果有 Banner *@
    <div id="banner">
        <ul class="list-unstyled">
            <li><img src="~/Content/images/BuyCar/banner1.jpg" alt=""></a></li>
        </ul>
    </div>

    <div class="wrap">
        <h2 class="h1">Outlander 打卡抽大獎</h2>
        <div class="editor">
            為想買車嗎？當有購車需求的時候，您會考慮些甚麼呢？
是廠牌？是進口或國產？是車子的用途？還是貸款金額及乘數？

您的這些問題，順益汽車都為您想到囉！
所以，特別為您規劃了新車購買指南，透過以下幾個步驟，為您介紹購車前的基本常識，並為您進行分析，希望能對您有所幫助，買到一台適合您的車唷！
        </div>
    </div>

</section><!-- content //-->