@{
    ViewBag.Title = "精彩活動回顧";
    ViewBag.BodyClass = "Events";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrap">

    <h1 class="h1">@ViewBag.Title</h1>

    <section id="content">

        <h2 class="h2">精彩活動回顧</h2>

        <ol class="card-list row">
            <li class="card-wrap">
                <dl class="card">
                    <dt class="card-img-top">
                        <a href="~/UsedCar/Content">
                            <img src="~/Content/images/BuyCar/banner1-thumb.jpg" alt="">
                        </a>
                    </dt>
                    <a class="card-block" href="~/UsedCar/Content">
                        <h3 class="card-title">OUTLANDER 拍照抽大獎</h3>
                        <h6 class="card-subtitle">拍照打卡抽『Outlander PHEV+花蓮遠雄三天兩夜雙人自由行』</h6>
                    </a>
                </dl>
            </li>
        </ol>
        
    </section><!-- content //-->
    
</div>